</div>
            <div class="col py-3">
            <h2>Leaves</h2>
            <div class="my-4">
                <!-- Link to the page for adding new projects -->
                <a class="btn btn-dark btn-sm d-inline-flex" type="button" href="{% url 'add_leave' %}">
                    <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor"
                         viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
                    </svg>
                    <span class="me-2">New Leave</span>
                </a>
            </div>
            <hr>
            <div class="table-responsive small">
                <table class="table table-borderless table-hover">
                    <thead>
                    <tr>
                        <th>Leave name</th>
                        <th>Employee</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for leave in leaves %}
                        <tr>
                            <td>{{ leave.leave_name }}</td>
                            <td>{{ leave.user_id }}</td>
                            <td>
                                <small class="text-secondary">{{ leave.start_date }}</small>
                            </td>
                            <td>
                                <small class="text-secondary">{{ leave.end_date }}</small>
                            </td>
                            <td class="text-end">
                                P
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>