{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>Create new project</title>
</head>
<body>
<div class="container d-flex justify-content-center">
    <form method="post" style="flex-basis: 60%">
        <div class="my-4">
            <a href="/">Back to menu</a>
        </div>
        {% csrf_token %}
        <div class="mb-3">
            <label for="project_name" class="form-label">Project Name</label>
            <input type="text" class="form-control" id="project_name" name="project_name">
        </div>
        <div class="mb-3">
            <label for="start_date" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="start_date" name="start_date">
        </div>
        <div class="mb-3">
            <label for="delivery_date" class="form-label">Delivery Date</label>
            <input type="date" class="form-control" id="delivery_date" name="delivery_date">
        </div>
        <div class="field mb-3">
            <label class="form-label">Status</label>
            <div class="control">
                {{ form.status }}
            </div>
        </div>
        <div class="mb-3">
            <label for="progress_percentage" class="form-label">Progress Percentage</label>
            <input type="number" class="form-control" id="progress_percentage" name="progress_percentage" min="0"
                   max="100">
        </div>
        <div class="field mb-3">
            <label class="form-label" for="project_manager">Project Manager</label>
            <select class="form-select" id="project_manager" name="project_manager">
                {% for manager in managers %}
                    <option value="{{ manager.id }}">{{ manager.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="my-4">
            <button type="submit" class="btn btn-dark">Add Project</button>
        </div>
    </form>
</div>
</body>
</html>
