{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/connexion.css' %}" rel="stylesheet">
</head>
<body>

    <div class="form-container">
        <h1>Connexion</h1>
        <form method="post">
            {% csrf_token %}
            <p>{{ message }}</p>
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password">
            <br>
            <input href="{% url 'connexion' %}" type="submit" value="Se connecter">
        </form>
    </div>

</body>
</html>